.content-container {
    margin: 20px 0px
}

.add-link-container {
    background-color: #adadad40;
    border: 1px solid #6f6c6c40;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.plus-container {
    display: flex;
    flex: 1;
}

.text-container {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.plus-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 12vh;  
    background-color: #adadad50;
    border: 1px solid #6f6c6c40;
    border-radius: 5px;
}

.plus {
    font-weight: bold;
    font-size: 50px;
}

.submit-text {
    font-weight: bold;
    font-size: 20px;
}

.hr {
    border-top: 3px solid #adadad50;
}

.link-container {
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.point-container {
    display: flex;
    flex: 1;
}

.point-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 80%; 
    background-color: #adadad50;
    border: 1px solid #6f6c6c40;
    border-radius: 5px
}

.points-number {
    font-size: 35px;
    font-weight: bold;
}

.link-detail {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.link-name {
    font-size: 20px;
    font-weight: bold;
}

.link-url {
    font-size: 15px;
    color: #cccccc;
}

.vote-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.up-vote {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 13px;
    color: #00000085;
}

.down-vote {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: 13px;
    color: #00000085;
}

.empty-list {
    text-align: center;
}

.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.page-link {
    color: #cccccc !important;
}