.hr {
    border-top: 3px solid #adadad50;
}

.empty-list {
    text-align: center;
}

.pagination {
    margin-top: 10px;
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.page-link {
    color: #cccccc !important;
}